* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// Primary colors
$red-500: hsl(1, 90%, 64%);
$blue-950: hsl(219, 85%, 26%);

// Secondary colors
$white: hsl(0, 100%, 100%);
$navy-50: hsl(210, 60%, 98%);
$blue-100: hsl(211, 68%, 94%);
$navy-100: hsl(205, 33%, 90%);
$gray-500: hsl(219, 14%, 63%);
$gray-600: hsl(219, 12%, 42%);
$navy-950: hsl(224, 21%, 14%);

//  Breakpoints
// - Mobile: 375px
// - Desktop: 1440px

body {
  font-size: 1rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
  color: $gray-600;
  height: 100vh;

  & a {
    text-decoration: none;
    color: inherit;
  }
}

article.card {
  display: grid;
  grid-template-areas:
    "header"
    "container";
  background: $navy-50;
  padding: 1.5rem;

  & div.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    padding: 1rem 0;

    & div.left {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      & h2 {
        color: $navy-950;
      }

      & span.blue {
        padding: 0.2rem 0.8rem;
        background: $blue-950;
        border-radius: 5px;
        margin-left: 1rem;
        color: $white;
      }
    }
  }

  & div.container {
    grid-area: container;

    & div.unread {
      background: $blue-100;
      padding: 1rem;
      margin: 1rem 0;
      border-radius: 1rem;
      display: flex;
      align-items: center;

      & div.txt {
        margin-left: 1rem;

        & span.bold {
          font-weight: bolder;
          color: $navy-950;
        }

        & span.Lt-bold {
          font-weight: bold;
        }

        & span.dot {
          font-size: 1.5rem;
          color: $red-500;
        }

        & span.blue {
          font-weight: bold;
          color: $blue-950;
        }
      }
    }
  }
}

@media (min-width: 500px) {
  main {
    background: $navy-100;
    display: flex;
    justify-content: center;
    align-items: center;

    article.card {
      box-shadow: 2px 2px 10px $gray-500;
      border-radius: 1rem;
      margin: 3rem 0;
    }
  }
}

// remove this and continue
div.container div.read {
  display: none;
}
