* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// Primary colors
$red-500: hsl(1, 90%, 64%);
$blue-950: hsl(219, 85%, 26%);

// Secondary colors
$white: hsl(0, 100%, 100%);
$navy-50: hsl(210, 60%, 98%);
$blue-100: hsl(211, 68%, 94%);
$navy-100: hsl(205, 33%, 90%);
$gray-500: hsl(219, 14%, 63%);
$gray-600: hsl(219, 12%, 42%);
$navy-950: hsl(224, 21%, 14%);

//  Breakpoints
// - Mobile: 375px
// - Desktop: 1440px

.hidden {
  display: none;
}

body {
  font-size: 1rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
  color: $gray-600;
  height: 100vh;

  & a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: $blue-950;
    }
  }
}

article.card {
  display: grid;
  grid-template-areas:
    "header"
    "container";
  background: $navy-50;
  padding: 1.5rem;

  & div.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    padding: 1rem 0;

    & div.left {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      & h2 {
        color: $navy-950;
      }

      & span.blue {
        padding: 0.2rem 0.8rem;
        background: $blue-950;
        border-radius: 5px;
        margin-left: 1rem;
        color: $white;
      }
    }
  }

  & div.container {
    grid-area: container;

    & div.unread.active {
      background: $blue-100;
    }

    & div.unread {
      padding: 1rem;
      margin: 1rem 0;
      border-radius: 1rem;
      display: flex;
      align-items: flex-start;

      & .avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }

      & div.txt {
        margin-left: 1rem;

        & span.bold {
          font-weight: bold;
          color: $navy-950;
          &:hover {
            color: $blue-950;
            cursor: pointer;
          }
        }

        & span.Lt-bold {
          font-weight: bold;
          &:hover {
            color: $blue-950;
            cursor: pointer;
          }
        }

        & span.dot {
          font-size: 1.5rem;
          color: $red-500;
        }

        & span.blue {
          font-weight: bold;
          color: $blue-950;
          cursor: pointer;
        }
        & .grey {
          color: $gray-500;
        }
      }
    }
    & div.read {
      display: flex;
      align-items: flex-start;
      margin: 1rem 0;
      padding: 1rem;
      position: relative;

      & .avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }
      & .txt {
        margin-left: 1rem;
        & .bold {
          font-weight: 800;
          color: $navy-950;
        }
        & .Lt-bold {
          font-weight: bold;
          color: $gray-600;
        }

        & .grey {
          color: $gray-500;
        }
        & div.message {
          border: 1px solid $gray-500;
          padding: 1rem;
          margin-top: 1rem;
          border-radius: 0.5rem;
          &:hover {
            background-color: $blue-100;
            cursor: pointer;
            border: none;
          }
        }
      }

      & div.txt {
        margin-left: 1rem;

        & p {
          padding-right: 2rem;
        }

        & span.bold {
          font-weight: 800;
          color: $navy-950;
        }
      }
      & .grey {
        color: $gray-500;
      }
      .lt-bold {
        font-weight: 800;
        color: $gray-600;
      }

      & .avatar2 {
        width: 48px;
        height: 48px;
        border-radius: 0.5rem;
        cursor: pointer;
        right: 0;
        margin-left: 1rem;
        position: absolute;
      }
    }
  }
}

@media (min-width: 300px) and (max-width: 349px) {
  body {
    font-size: clamp(0.65rem, 0.88rem, 0.95rem);
  }
}
@media (min-width: 350px) and (max-width: 374px) {
  body {
    font-size: clamp(0.65rem, 0.95rem, 1rem);
  }
}

@media (min-width: 550px) {
  body {
    // border: 2px solid red;
    background: $navy-100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 100vh;

    main {
      // border: 2px solid rgb(224, 238, 28);
      margin: 3rem auto;
    }

    article.card {
      box-shadow: 2px 2px 10px $gray-500;
      border-radius: 1rem;
      margin: 0 auto;
      width: 50%;

      @media (min-width: 700px) {
        width: 70%;
      }
    }
  }
}

@media (max-height: 899px) and (min-width: 1000px) {
  body {
    display: block;
    height: 100%;

    main {
      margin: 3rem auto;
    }

    article.card {
      width: 60%;
    }
  }
}

@media (min-width: 1279px) {
  body {
    article.card {
      width: 80%;
    }
  }
}
